<form [formGroup]="formGroup">  
    <mat-card fxLayout="column">
    <mat-card-title>
        Cadastro Grupo Usuário
    </mat-card-title>
    <mat-card-subtitle>
        Grupos de usuários do Sistema
    </mat-card-subtitle>
    <mat-card-content fxFlex="100%">
        <div fxLayout="column">
        <div fxLayout="row" >
            <mat-form-field fxFlex="32%">
                <input matInput type="text" 
                    [(ngModel)]="usuario.nome"
                    placeholder="Nome"
                    formControlName="nome" required>
                    <mat-error align="start"
                    *ngIf="formGroup.controls['nome'].hasError('required')" >
                    Campo obrigatório</mat-error>
           </mat-form-field>
            <span fxFlex="2%"></span>

            <mat-form-field fxFlex="32%">
                <input matInput type="text" 
                    [(ngModel)]="usuario.cpf"
                    placeholder="Cpf"
                    formControlName="cpf"  required>
                <mat-error align="start"
                     *ngIf="formGroup.controls['cpf'].hasError('required')" >
                     Campo obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" >
                <mat-form-field fxFlex="32%">
                        <input matInput type="text" 
                            [(ngModel)]="usuario.email"
                            placeholder="Email"
                            formControlName="email" required>
                            <mat-error align="start"
                            *ngIf="formGroup.controls['email'].hasError('required')" >
                            Campo obrigatório</mat-error>
                   </mat-form-field>
                   <span fxFlex="2%"></span>
                   <mat-form-field fxFlex="32%">
                        <input matInput type="text" 
                            [(ngModel)]="usuario.login"
                            placeholder="Login"
                            formControlName="login"  required>
                        <mat-error align="start"
                             *ngIf="formGroup.controls['login'].hasError('required')" >
                             Campo obrigatório</mat-error>
                    </mat-form-field>
        </div>
           
        <div fxLayout="row" >
                <mat-form-field fxFlex="32%">
                        <input matInput type="text" 
                            [(ngModel)]="usuario.senha"
                            placeholder="Senha"
                            formControlName="senha" required>
                            <mat-error align="start"
                            *ngIf="formGroup.controls['senha'].hasError('required')" >
                            Campo obrigatório</mat-error>
                   </mat-form-field>
                   <span fxFlex="2%"></span>
                   <mat-form-field fxFlex="32%">
                        <input matInput type="text" 
                            [(ngModel)]="usuario.confirmeSenha"
                            placeholder="Confirme Senha"
                            formControlName="confirmeSenha"  required>
                        <mat-error align="start"
                             *ngIf="formGroup.controls['confirmeSenha'].hasError('required')" >
                             Campo obrigatório</mat-error>
                    </mat-form-field>
                    <span fxFlex="2%"></span>
                    <mat-form-field fxFlex="32%">
                            <input matInput type="text" 
                                [(ngModel)]="usuario.apelido"
                                placeholder="Apelido"
                                formControlName="apelido">
                        </mat-form-field>
        </div>

        <div fxLayout="row" >
                <mat-form-field fxFlex="32%">
                        <input matInput type="text" 
                            [(ngModel)]="usuario.telefone"
                            placeholder="Telefone"
                            formControlName="telefone">
                    </mat-form-field>
                    <span fxFlex="2%"></span>
                    <mat-form-field fxFlex="32%">
                            <input matInput type="text" 
                                [(ngModel)]="usuario.celular"
                                placeholder="Celular"
                                formControlName="celular">
                        </mat-form-field>
                        <span fxFlex="2%"></span>
                        <mat-form-field fxFlex="32%">
                                <input matInput type="text" 
                                    [(ngModel)]="usuario.grupoUsuario"
                                    placeholder="Grupo Usuario"
                                    formControlName="grupoUsuario"  required>
                                <mat-error align="start"
                                     *ngIf="formGroup.controls['grupoUsuario'].hasError('required')" >
                                     Campo obrigatório</mat-error>
                            </mat-form-field>
        </div>    



       


        <div>
            <mat-checkbox [(ngModel)]="usuario.ativo" formControlName="ativo">ativo</mat-checkbox>
        </div>


    </div>
    </mat-card-content>
    <mat-card-actions>
        <button color="primary"  [disabled]="formGroup.invalid" (click)="salvar()" mat-button>Salvar</button>
        <button color="secondary" (click)="cancelar()" mat-button>Cancelar</button>
    </mat-card-actions>
    <mat-card-footer>
        Desenvolvido na Fadep
    </mat-card-footer>
</mat-card>
</form>